@import "./components/headers.scss";
@import "./components/generationCover.scss";
@import "./components/cardPokemon.scss";
@import "./components/tipos.scss";
@import "./components/carousell.scss";
@import "./components/footer.scss";
@import "./components/characters.scss";

:root {
  --red: #e74540;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.Main {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.disabledbutton {
  pointer-events: none;
  opacity: 0.4;
}