@import "./components/headers.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.Main {
  width: 100vw;
  height: 100vh;
}

.hidden {
  display: none;
}

.show {
  display: block;
}
