@import "./components/headers.scss";
@import "./components/generationCover.scss";
@import "./components/cardPokemon.scss";
@import "./components/tipos.scss";
@import "./components/carousell.scss";

:root {
  --red: #e74540;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.Main {
  width: 100vw;
  height: 100vh;
}

.hidden {
  display: none;
}

.show {
  display: block;
}
