.card-pokemon {
  will-change: transform;
  border-radius: 20px;
  border: 1px solid gray;
  width: 75%;
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  list-style: none;
  box-shadow: 0 2px 8px rgb(0 0 0 / 40%);
  transition-duration: 0.5s;
  &-information{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(189, 189, 189);
  }
  img {
    
    margin: 0 auto;
    display: block;
    margin-bottom: 5px;
    
  }
  p {
    margin-bottom: 5px;
    font-size: 18px;
    margin-right: 5px;
  }
  h3 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  &_tipos {
    display: flex;
    width: 90%;
    
  }
  a{
    text-decoration: none;
    color: black;
  }
  &:hover{
    transform: scale(1.1);
  }
}
