.carousell {
  .arrow {
    height: 75px;
    width: 75px;
    transition: all 0.2s ease-in-out;
    background-color: #b8b8b8;
    border-radius: 50%;
    margin: 0 auto;
    img {
      width: 75px;
    }
  }
  .arrow:hover {
    transform: scale(1.1);
  }
  .arrow-desktop {
    display: none;
  }
}
