.Footer{
    background-color: #2e2e2e;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
    img{
        width: 50px;
    padding-right: 10px;
    }
    h3{
        color: white;
        margin-right: 10px;
    }
    
}