.main-generation_cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  background-color: var(--red);
  padding: 10px;
  animation: 1s generationCover 1.5s ease-in-out;
  animation-fill-mode: backwards;

  @keyframes generationCover {
    0% {
      transform: translateX(-400px);
    }
    100% {
      transform: translateX(0);
    }
  }
  img {
    width: 90%;
    margin: 0 auto;
  }
  h2,
  p {
    color: white;
    margin-bottom: 5px;
  }
}
