.Header {
  width: 100%;
  z-index: 1;
  &-main {
    display: flex;
    flex-direction: column;
    height: 150px;
    align-items: center;
    padding-top: 15px;
    // animation: 1s navbar 0.5s ease-in-out;
    // animation-fill-mode: forwards;
    // transform: translateY(-200px);
    // @keyframes navbar {
    //   0% {
    //     transform: translateY(-200px);
    //   }
    //   100% {
    //     transform: translateY(0);
    //   }
    // }
    .Header-logo {
      display: flex;
      align-items: center;
      img {
        width: 75px;
        padding-right: 10px;
      }
      h1 {
        a {
          text-decoration: none;
        }
      }
    }
    &--details {
      position: absolute;
      top: 75px;
      background-color: rgb(46, 46, 46);
      padding: 10px;
      border-radius: 5px;
      color: white;
      width: 75%;
      margin-top: 20px;
      z-index: 1;

      summary {
        margin-bottom: 10px;
        font-size: 24px;
      }
      ul {
        background-color: rgb(93, 93, 93);
        list-style: none;
        height: 225px;
        overflow: scroll;
        li {
          padding: 15px;
          border-bottom: 1px solid gray;
          a {
            color: white;
            text-decoration: none;
            font-size: 24px;
          }
        }
      }
    }
  }
}
