.Header {
  width: 100%;
  z-index: 1;
  &-main {
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 125px;
    align-items: center;
    padding-top: 15px;
    background-color: #2e2e2e;
    width: 100%;
    z-index: 1;
    
    .Header-logo {
      display: flex;
      align-items: center;
      img {
        width: 50px;
        padding-right: 10px;
      }
      h1 {
        a {
          text-decoration: none;
          color: white;
          font-size: 30px
        }
      }
    }
    &--details {
      position: absolute;
      top: 50px;
      background-color: #3533b5;
      padding: 10px;
      border-radius: 5px;
      color: white;
      width: 75%;
      margin-top: 15px;
      z-index: 1;
      max-width: 385px;

      summary {
        
        font-size: 24px;
      }
      ul {
        background-color: rgb(93, 93, 93);
        list-style: none;
        height: 225px;
        overflow: scroll;
        li {
          
          border-bottom: 1px solid gray;
          button{
            width: 100%;
            padding: 15px;
            background-color: rgb(41, 41, 41);;
            border: none;
            color: white;
            font-size: 20px;
          }
          a {
            color: white;
            text-decoration: none;
            font-size: 24px;
          }
        }
      }
    }
    &--details:hover{
      background-color: #4341ee;
    }
  }
}
