.tipo {
  padding: 5px;
  padding-left:15px;
  padding-right: 15px;
  border: 1px solid gray;
  border-radius: 20px;
  color: white;
  max-width: 100px;
  text-align: center;
}

.poison {
  
  background-color: rgb(192, 0, 192);
}

.grass {
  background-color: rgb(3, 204, 3);
  color: #272727;
}

.fire{
  background-color: orangered;
}

.flying{
  background-color: skyblue;
  color: #272727;
}

.water{
  background-color: blue;
}

.bug{
  background-color: green;
}

.normal{
  background-color: gray;
}

.electric{
  background-color: yellow;
  color: #272727;
}

.ground{
  background-color: brown;
}

.fairy{
  background-color: pink;
  color: #272727;
}

.fighting{
  background-color: rgb(46, 12, 0);
}

.psychic{
  background-color: rgb(243, 33, 68);
}

.rock{
  background-color: darkgoldenrod;
}

.steel{
  background-color: rgb(58, 58, 58);
}

.ice{
  background-color: turquoise;
  color: #272727;
}

.ghost{
  background-color: purple;
}

.dragon{
  background-color: rgb(0, 0, 85);
}

.dark{
  background-color: rgb(22, 22, 22);
}